# ==============================================================================
# PCDeck Environment Configuration Template
# ==============================================================================

# Bing / IndexNow Search Engine Protocol
INDEXNOW_KEY=2b967b3e45cd4a0cafab08e647e1fc47
INDEXNOW_KEY_LOCATION=https://pcdeck.vercel.app/2b967b3e45cd4a0cafab08e647e1fc47.txt
INDEXNOW_HOST=pcdeck.vercel.app
